@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--clr-1: #052b2f;
		--clr-2: #073438;
		--clr-3: #0e4b50;
		--clr-4: #2d8f85;
		--clr-5: #637c54;

		--clr1: #f0f;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

/* @layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
} */
/* a {
	cursor: pointer;
	padding: 0.8em 1.8em; 
	border-radius: 22px;
	background: rgba(45,45,45,1);
	color: #999;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	font-size: 28px;
	letter-spacing: 3px;
	z-index:1;
  }
  
  a:hover{
	  color: var(--clr1);
	text-shadow: 0 0 15px var(--clr1), 0 0 40px  var(--clr1);
  }
  
  a span {
	position: relative;
	z-index:1;
	font-size: 28px;
	letter-spacing: 3px;
  }
  
  a::before {
	content: '';
	position: absolute;
	top: var(--y);
	left: var(--x);
	transform: translate(-50%,-50%);
	background: radial-gradient( var(--clr1), transparent, transparent);
	width: 200px;
	height: 200px;
	opacity: 0;
	transition: 0.5s, top 0s, left 0s;
  }
  
  a:hover::before {
	  opacity: 1;
  }
  
  a::after{
	content: '';
	position: absolute; 
	inset: 2px;
	background: rgba(45,45,45,0.7);
	border-radius: 22px;
  } */

/* .noise {
	background-position: 50%;
	background-repeat: repeat;
	background-image: url(/images/noise@2x.png);
	background-size: 140px 100px;
} */

.bg-template-card {
	background-image: radial-gradient(
			121.65% 100% at 32.68% 0,
			#3c4155 0,
			rgba(60, 65, 85, 0.18) 32.49%,
			rgba(60, 65, 85, 0) 51.34%
		),
		radial-gradient(91.41% 43.04% at 50% 0, #1a1c24 20.67%, rgba(26, 28, 36, 0) 100%),
		radial-gradient(69.96% 25.89% at 50% 100%, #15171e 22.77%, rgba(19, 21, 27, 0) 100%);
}

.transition-colors {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}

.bg-grey-1 {
	--tw-bg-opacity: 1;
	background-color: rgb(13 14 18 / var(--tw-bg-opacity));
}

.border-glow {
	--radius: 16px;
	position: relative;
	border-radius: var(--radius);
}

.border-glow:after,
.border-glow:before {
	pointer-events: none;
	position: absolute;
	z-index: 50;
	mix-blend-mode: overlay;
	content: "";
}

.border-glow:before {
	left: 0;
	right: 0;
	top: 0;
	border-width: 1px;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	--tw-border-opacity: 0.8;
	height: var(--radius);
	border-bottom: none;
	border-radius: var(--radius) var(--radius) 0 0;
}

.border-glow:after {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	inset: var(--radius) 0 0 0;
	border-top: none;
	-o-border-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.8) 0, transparent 40%) 1;
	border-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.8) 0, transparent 40%) 1;
}
